.dashboard-container {
  padding: 20px;
}

.presentation-grid {
  margin-top: 20px;
}

.presentation-card {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.presentation-link {
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
}

.presentation-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.card-footer .btn {
  width: 100%;
}

.btn-purple {
  position: absolute;
  bottom: 10px; /* Adjust the value as needed */
  left: 10px;   /* Adjust the value as needed */
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-purple:hover {
  background-color: #800080; /* Darker purple */
}